<div class="my-4 mx-auto p-4 shadow-md rounded-md max-w-lg bg-white">
    <h1>✂️ Magic Scissors</h1>
    <p>
        Choose your output settings.
    </p>

    <form id="outputSettingsForm">
    <div class="mt-4 text-sm text-gray-400 gap-6 flex flex-col mb-5">
        <!-- Output Size Slider -->
        <div>
            <p class="mb-2"><b class="text-gray-900">Dataset Size</b> - The number of images to generate.</p>
            <input 
                type="range" 
                id="outputSize" 
                name="outputSize"
                class="w-full" 
            />
        </div>

        <!-- Object Size Variance Slider -->
        <div>
            <p class="mb-2"><b class="text-gray-900">Object Size Variance</b> - The amount to shrink or grow the objects of interest from their baseline.</p>
            <input 
                type="range" 
                id="objectSizeVariance" 
                name="objectSizeVariance"
                class="w-full"
            />
        </div>
    </div>

    <div id="submitButtonContainer">
        <input type="submit" class="btn cyan" value="Continue" />
    </div>
    <div id="loadingContainer" class="hidden">
        <div class="btn bg-gray-200"><i class="far fa-spin fa-spinner -ml-1 mr-1"></i> Continue</div>
    </form>
</div>